body{
    font-family: "Montserrat", sans-serif;
    background-color: #000000;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}


.box{
    width: 50%;
    margin-left: 25%;
    margin-right: 100px;
    color: #ffffff;
    text-align: center;
}


.image-girl{
border: 5px solid white;
width: 100%;
}
